* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 120%;
}

body {
  background-color: #222;
  color: white;
  font-family: "Montserrat";
  line-height: 120%;
}

.light {
  background-color: #eee;
  color: #222;
}

header {
  background-color: #111; /*Cor de Fundo*/
  padding: 30px 40px;
  display: flex;
  justify-content: space-between; /*Separa o nome do cargo*/
  align-items: center;
}

.light header {
  background-color: #ddd;
}

section,
footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

section {
  border-bottom: 1px solid #555;
}

footer {
  align-items: center;
  text-align: center;
}

ul,
ol {
  margin-left: 15px;
}
/*
.habilidades {
  background-color: #333;
}

.linguagem {
  background-color: yellow;
}
.linguagem {
  color: yellow; Cor de letras
} */

a {
  color: inherit;
  transition: color 0.2s linear;
}

.light a:hover {
  color: #555;
}

a:hover {
  color: lightblue;
}

button {
  padding: 5px 15px;
  border-radius: 20px;
  border: none;
  background-color: #eee;
  transition: background-color 0.2s linear;
  cursor: pointer;
}

.light button {
  background-color: #aaa;
  color: white;
}

button:hover {
  background-color: #bbb;
}

.light button:hover {
  background-color: #777;
}

.funcao {
  font-size: 26px;
  line-height: 120%;
}

.habilidades {
  display: flex;
  gap: 40px;
}

.habilidade {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projeto {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.projetos {
  display: flex;
  gap: 20px;
}

.amarelo {
  color: yellow;
}

.vermelho {
  color: red;
}

.informacoes {
  display: none;
}

.informacoes.visivel {
  display: block;
}
